/* Hide everything */
.cm-header.cm-rm-header-token, .cm-em.cm-rm-em-token, .cm-strong.cm-rm-strong-token, div.CodeMirror span.cm-overlay.cm-rm-highlight.cm-rm-highlight-token, .cm-strikethrough.cm-rm-strike-token, .cm-rm-ins.cm-rm-ins-token, .cm-rm-sub.cm-rm-sub-token, .cm-rm-sup.cm-rm-sup-token, .cm-quote.cm-rm-list-token, .cm-katex-marker-open, .cm-katex-marker-close, .cm-rm-backtick-token, .cm-rm-triptick-token {
	opacity: 0.2 !important;
	font-size: 0.9em;
	background: transparent;
	color: inherit;
	transition: opacity 0.3s;
}

/* The url string looks not great when it's faded all the way to 0.2*/
div.CodeMirror .cm-string.cm-url {
	opacity: 0.5 !important;
	font-size: 0.9em;
	transition: opacity 0.3s;
}

div.CodeMirror .CodeMirror-activeline .cm-string.cm-url, .CodeMirror-activeline .cm-header.cm-rm-header-token, .CodeMirror-activeline .cm-em.cm-rm-em-token, .CodeMirror-activeline .cm-strong.cm-rm-strong-token, div.CodeMirror .CodeMirror-activeline span.cm-overlay.cm-rm-highlight.cm-rm-highlight-token, .CodeMirror-activeline .cm-strikethrough.cm-rm-strike-token, .CodeMirror-activeline .cm-rm-ins.cm-rm-ins-token, .CodeMirror-activeline .cm-rm-sub.cm-rm-sub-token, .CodeMirror-activeline .cm-rm-sup.cm-rm-sup-token, .CodeMirror-activeline .cm-quote.cm-rm-list-token, .CodeMirror-activeline .cm-katex-marker-open, .CodeMirror-activeline .cm-katex-marker-close, .CodeMirror-activeline .cm-rm-backtick-token, .CodeMirror-activeline .cm-rm-triptick-token {
	opacity: 0.7 !important;
	background: transparent;
	color: inherit;
	transition: opacity 0.5s;
}

/* Don't apply the fading in code blocks */
div.CodeMirror .cm-jn-code-block .cm-string.cm-url,
.cm-jn-code-block .cm-header.cm-rm-header-token,
.cm-jn-code-block .cm-em.cm-rm-em-token,
.cm-jn-code-block .cm-strong.cm-rm-strong-token,
.cm-jn-code-block .cm-rm-highlight.cm-rm-highlight-token,
.cm-jn-code-block .cm-strikethrough.cm-rm-strike-token,
.cm-jn-code-block .cm-rm-ins.cm-rm-ins-token,
.cm-jn-code-block .cm-rm-sub.cm-rm-sub-token,
.cm-jn-code-block .cm-rm-sup.cm-rm-sup-token,
.cm-jn-code-block .cm-quote.cm-rm-list-token,
.cm-jn-code-block .cm-katex-marker-open,
.cm-jn-code-block .cm-katex-marker-close {
	opacity: revert !important;
	font-size: revert;
}

/* Revert background colour change on the activeline */
.CodeMirror .CodeMirror-activeline
.CodeMirror-activeline-background:not(.cm-jn-code-block):not(.cm-jn-code-block-background),
.cm-s-solarized.cm-s-light div.CodeMirror-activeline-background,
.cm-s-solarized.cm-s-dark div.CodeMirror-activeline-background {
  background: inherit;
}
/* END Hide everything */

